/vendor
composer.lock
.phpunit.result.cache
.phpunit.cache
.phpcs-cache
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.php-version

# Laravel-specific
.env
bootstrap/cache/*
storage/logs/*
storage/framework/*
!bootstrap/cache/.gitkeep
!storage/logs/.gitkeep
!storage/framework/.gitkeep

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Tests
.phpunit.result.cache
.phpunit.cache
coverage/*